[submodule "firmware/Prusa-Error-Codes"]
	path = Prusa-Error-Codes
	url = https://github.com/prusa3d/Prusa-Error-Codes.git
[submodule "mc-fw"]
	path = mc-fw
	url = https://gitlab.com/prusa3d/sl1/mc-fw.git
