<div class="row" id="line1">{{ items.get('line1', "") }}</div>
<div class="row justify-content-begin menu">
	<div class="col-md-auto button d-flex click" id="admin">
		<div class="frame d-flex">
			<div class="image"></div>
		</div>
		<div class="title">Admin</div>
	</div>
	<div class="col-md-auto button d-flex click" id="wifi">
		<div class="frame d-flex">
			<div class="image"></div>
		</div>
		<div class="title">Network</div>
	</div>
</div>
<div class="row" id="line2">{{ items.get('line2', "") }}</div>
<div class="row justify-content-end menu">
	<div class="col-md-auto button d-flex click" id="back">
		<div class="frame back d-flex">
			<div class="image"> </div>
		</div>
	</div>
</div>
