<div class="admin click" id="button1">{{ items.get('button1', "(none)") }}</div>
<div class="admin click" id="button5">{{ items.get('button5', "(none)") }}</div>
<div class="admin click" id="button9">{{ items.get('button9', "(none)") }}</div>
<div class="admin click" id="button2">{{ items.get('button2', "(none)") }}</div>
<div class="admin click" id="button6">{{ items.get('button6', "(none)") }}</div>
<div class="admin click" id="button10">{{ items.get('button10', "(none)") }}</div>
<div class="admin click" id="button3">{{ items.get('button3', "(none)") }}</div>
<div class="admin click" id="button7">{{ items.get('button7', "(none)") }}</div>
<div class="admin click" id="button11">{{ items.get('button11', "(none)") }}</div>
<div class="admin click" id="button4">{{ items.get('button4', "(none)") }}</div>
<div class="admin click" id="button8">{{ items.get('button8', "(none)") }}</div>
<div class="admin click" id="button12">{{ items.get('button12', "(none)") }}</div>
