{% for row in [[1,6,11],[2,7,12],[3,8,13],[4,9,14],[5,10,15]] -%}
<div class="row justify-content-center menu small form-group">
	{% for col in row -%}
	<div class="col-md-auto button d-flex click" id="button{{ col }}">
		<div class="frame d-flex">
			<div class="image value">{{ items.get('button' + col|string, "(none)") }}</div>
		</div>
	</div>
	{%- endfor %}
</div>
{%- endfor %}

<div class="row justify-content-end menu">
	<div class="col-md-auto button d-flex click" id="back">
		<div class="frame back d-flex">
			<div class="image"> </div>
		</div>
	</div>
</div>
