{% set buttons = [
	{"id": "towermove", "title": "Move Platform"},
	{"id": "tiltmove", "title": "Move Resin Tank"},
	{"id": "firmwareupdate", "title": "Firmware Update"},
	{"id": "timesettings", "title": "Time Settings"},
	{"id": "sethostname", "title": "Set Hostname"}
] -%}

{% if items['showAdmin'] == 'yes' %}
	{% if buttons.append({"id": "admin", "title": "Admin"}) %}
	{% endif %}
{% endif %}
<!-- {"id": "setlanguage", "title": "Set Language"}, -->

{% include 'buttons.html' %}
{% include 'back.html' %}