<div class="row justify-content-center">Exposure [seconds]</div>
<div class="row justify-content-center align-items-center menu">
	<div class="col-md-auto button d-flex click" id="expossubsecond">
		<div class="frame exposure d-flex">
			<div class="image"></div>
		</div>
	</div>
	<div class="col-md-auto" id="timeexpos">{{ "%d" % items['timeexpos'] }}</div>
	<div class="col-md-auto button d-flex click" id="exposaddsecond">
		<div class="frame exposure d-flex">
			<div class="image"></div>
		</div>
	</div>
</div>

<div class="row justify-content-center">Exposure First Layer [seconds]</div>
<div class="row justify-content-center align-items-center menu">
	<div class="col-md-auto button d-flex click" id="exposfirstsubsecond">
		<div class="frame exposure d-flex">
			<div class="image"></div>
		</div>
	</div>
	<div class="col-md-auto" id="timeexposfirst">{{ "%d" % items['timeexposfirst'] }}</div>
	<div class="col-md-auto button d-flex click" id="exposfirstaddsecond">
		<div class="frame exposure d-flex">
			<div class="image"></div>
		</div>
	</div>
</div>

{% if items['timeexposcalibrate'] != None %}
<div class="row justify-content-center">Exposure Calibration [seconds]</div>
<div class="row justify-content-center align-items-center menu">
	<div class="col-md-auto button d-flex click" id="exposcalibratesubsecond">
		<div class="frame exposure d-flex">
			<div class="image"></div>
		</div>
	</div>
	<div class="col-md-auto" id="timeexposcalibrate">{{ "%.1f" % items['timeexposcalibrate'] }}</div>
	<div class="col-md-auto button d-flex click" id="exposcalibrateaddsecond">
		<div class="frame exposure d-flex">
			<div class="image"></div>
		</div>
	</div>
</div>
{% endif %}

<div class="row justify-content-end menu">
	<div class="col-md-auto button d-flex click" id="back">
		<div class="frame back d-flex">
			<div class="image"> </div>
		</div>
	</div>
</div>
