<div class="row justify-content-start menu">
	<div class="col-md-auto button d-flex click" id="top">
		<div class="frame d-flex">
			<div class="image"> </div>
		</div>
		<div class="title">homing platform</div>
	</div>
	<div class="col-md-auto button d-flex click" id="tankres">
		<div class="frame d-flex">
			<div class="image"> </div>
		</div>
		<div class="title">homing resin tank</div>
	</div>
</div>
<div class="row justify-content-end menu">
	<div class="col">{{ items.get("image_version", "") }}</div>
	<div class="col-md-auto button d-flex click" id="back">
		<div class="frame back d-flex">
			<div class="image"> </div>
		</div>
	</div>
</div>
