<div class="row justify-content-center menu">
	<div class="col-md-auto button d-flex click" id="updown">
		<div class="frame d-flex">
			<div class="image"> </div>
		</div>
		<div class="title">Up and down</div>
	</div>
	<div class="col-md-auto button d-flex click" id="settings">
		<div class="frame d-flex">
			<div class="image"> </div>
		</div>
		<div class="title">Settings</div>
	</div>
	<div class="col-md-auto button d-flex click" id="upoff">
		<div class="frame d-flex">
			<div class="image"> </div>
		</div>
		<div class="title">Up and down and turnoff</div>
	</div>
</div>
<div class="row justify-content-end menu">
	<div class="col-md-auto button d-flex click" id="back">
		<div class="frame back d-flex">
			<div class="image"> </div>
		</div>
	</div>
</div>
