{% if items['paused'] %}
{% set pasueunpause_title = "UnPause" %}
{% else %}
{% set pasueunpause_title = "Pause" %}
{% endif %}

{% set buttons = [
	{"id": "updown", "title": "Up and down"},
	{"id": "settings", "title": "Settings"},
	{"id": "upoff", "title": "Up and turnoff"},
	{"id": "pauseunpause", "title": pasueunpause_title},
	{"id": "admin", "title": "Admin"}
] -%}
{% include 'buttons.html' %}

<div class="row justify-content-end menu">
	<div class="col-md-auto button d-flex click" id="back">
		<div class="frame back d-flex">
			<div class="image"> </div>
		</div>
	</div>
</div>
