{% include 'back.html' %}

<div class="row">
	<h2 class="col">Wifi</h2>
	<div class="col" >
		<input id="wifi-control" class="btn btn-primary" type="checkbox" data-linked data-toggle="toggle" data-linked-collapse="#wifi-settings"  {% if items['wifi_mode'] != "off" %}checked{% endif %} data-target="#wifi-settings" value="Wifi" >
	</div>
</div>

<div class="collapse{% if items['wifi_mode'] != "off" %} show{% endif %}" id="wifi-settings">

<div class="row active align-items-center mt-1 hidden-connection active" style="min-height: 3.5em;" data-connection-id="#wifi-ap-settings">
	<h2 class="col-md-3">Wifi Hotspot</h2>
	<div class="col-md-auto">
		{% if items['wifi_mode'] == "ap" %}
			<div>Hotspot {{ items['ap_ssid'] }} active</div>
			{% for item in items['devlist'] %}
				{% if item['dev'] == 'ap0' %}
				<div>{{ item['addr'] }}</div>
				{% endif %}
			{% endfor %}
		{% else %}
		<div>Hotspot inactive</div>
		{% endif %}
	</div>
</div>

<div id="wifi-ap-settings" class="row collapse mt-2">
	<div class="d-flex justify-content-start align-items-center">
		<img src="static/img/symbols/wifi_on_color.svg" style="width: 3em; height: 3em;">
		<div class="d-flex justify-content-between flex-column">
			<div class="d-flex flex-row mb-1">
				<label class="mr-2">Hotspot name:</label>
				<input class="data" id="ap-ssid" type="text" name="ssid" value="{{ items['ap_ssid'] }}">
			</div>
			<div class="d-flex flex-row">
				<label class="mr-2">Password:</label>
				<input class="data mr-1" id="ap-psk" type="text" name="psk" value="{{ items['ap_psk'] }}">
				<input id="apset" class="click" type="submit" name="connect" value="Set">
			</div>
		</div>
	</div>
</div>

<div class="row align-items-center mt-3 hidden-connection active" style="min-height: 3.5em;" data-connection-id="#wifi-client-settings">
	<h2 class="col-md-3">Wifi Client</h2>
	<div class="col-md-auto">
		{% if items['wifi_mode'] == "client" %}
			<div>Connected to {{ items['wifi_ssid'] }}</div>
			{% for item in items['devlist'] %}
				{% if item['dev'] == 'wlan0' %}
				<div>{{ item['addr'] }}</div>
				{% endif %}
			{% endfor %}
		{% else %}
		<div>Not connected</div>
		{% endif %}
	</div>
</div>

<div id="wifi-client-settings" class="row mt-1 collapse">
	<div class="row scrollbar scrollbar-primary" style="max-height: 20em; overflow-y: auto">
		<ul class="list-group w-100">
			{% for ap in items['aps'] %}
			<li class="list-group-item list-group-item-action connection">
				<div class="d-flex justify-content-start align-items-center hidden-connect">
					<img src="static/img/symbols/wifi_on_color.svg" style="width: 3em; height: 3em;">
					<div class="d-flex justify-content-between flex-column wifi-ap-entry">
						<span class="ssid" >{{ ap['ssid'] }}</span>
						{% if ap['ssid'] == items['wifi_ssid'] %}
						<span>connected</span>
						{% else %}
						<span></span>
						{% endif %}
						<div class="collapse">
							<label>Password:</label>
							{% if ap['psk_required'] %}
							<input class="psk" type="password" name="psk">
							{% endif %}
							<input class="wifi-connect" type="submit" value="Connect">
						</div>
					</div>
				</div>
			</li>
			{% endfor %}
			<li class="list-group-item list-group-item-action">
				<div class="d-flex justify-content-start align-items-center hidden-connect">
					<img src="static/img/symbols/wifi_on_color.svg" style="width: 3em; height: 3em;">
					<div class="d-flex justify-content-between flex-column wifi-ap-entry">
						<div>
							<label>Network ssid:</label>
							<input class="ssid" type="text" name="ssid">
						</div>
						<div>
							<label>Password:</label>
							<input class="psk" type="password" name="psk">
							<input class="wifi-connect" type="submit" value="Connect">
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>

<div class="row mt-3">
	<h2 class="col-md-auto">Network info</h2>
</div>
<div class="row" id="line1">
	<div class="col">{{ items.get('line1', "") }}</div>
</div>
