<div class="pattern click" id="button1">{{ items.get('button1', "(none)") }}</div>
<div class="pattern click" id="button5">{{ items.get('button5', "(none)") }}</div>
<div class="pattern click" id="button2">{{ items.get('button2', "(none)") }}</div>
<div class="pattern click" id="button6">{{ items.get('button6', "(none)") }}</div>
<div class="pattern click" id="button3">{{ items.get('button3', "(none)") }}</div>
<div class="pattern click" id="button7">{{ items.get('button7', "(none)") }}</div>
<div class="pattern click" id="button4">{{ items.get('button4', "(none)") }}</div>
<div class="pattern click {{ design }}" id="back">{{ items.get('back', "(none)") }}</div>
