{% if items['calibrationRegions'] %}
<h1 class="row" id="line1">Calibration[{{ items['calibrationRegions'] }}]: {{ items['name'] }}</h1>
{% else %}
<h1 class="row" id="line1">{{ items['name'] }}</h1>
{% endif %}

<div class="row justify-content-center menu">
	<img class="col" src="static/img/dummy.svg">
	<div class="col">
		<h2 class="row font-weight-bold">Date:</h2>
		<div class="row">{{ items['date'] }}</div>
		<h2 class="row font-weight-bold">Layers:</h2>
		<div class="row">{{ items['layers'] }}</div>
		<h2 class="row font-weight-bold">Exposure times:</h2>
		{% if items['calibrate_time_sec'] %}
		<div class="row">{{ items['exposure_time_first_sec'] }} / {{ items['exposure_time_sec'] }} (+{{ items['calibrate_time_sec'] }})</div>
		{% else %}
		<div class="row">{{ items['exposure_time_first_sec'] }} / {{ items['exposure_time_sec'] }}</div>
		{% endif %}
	</div>
	{% set button = {'id': 'cont', 'title': 'start print'} %}
	{% include 'button.html' %}
</div>
{% include 'back.html' %}
