<div class="row" id="precent">{{ items.get('percent', "") }}</div>
<div class="row" id="timeelaps">{{ items.get('timeelaps', "") }}</div>
<div class="row" id="progress" id="bar">{{ items.get('progress', "0") }}</div>
<div class="row" id="remain">{{ items.get('line4', "") }}</div>
<div class="row" id="line1">{{ items.get('line1', "") }}</div>
<div class="row" id="line2">{{ items.get('line2', "") }}</div>
<div class="row" id="line3">{{ items.get('line3', "") }}</div>
<div class="row" id="line4">{{ items.get('line4', "") }}</div>

{% set buttons = [
	{"id": "setup", "title": "Setup"}
] -%}

{% include 'buttons.html' %}