<div class="row">
	<h2 class="col">Use network provided time</h2>
	<div class="col" >
		<input id="ntp-control" class="btn btn-primary" type="checkbox" data-toggle="toggle" data-target="#time-settings" value="NTP" {% if items['ntp'] %}checked{% endif %}>
	</div>
</div>

<div class="row collapse {% if not items['ntp'] %}show{% endif %}" id="time-settings">
	<div id="unix_timestamp_sec" class="data" style="display: none;" data-timezone="{{ items['timezone'] }}">{{ items['unix_timestamp_sec'] }}</div>
	<select id="hour" class="col data">
		{% for h in range(0, 24) %}
		<option value="{{ h }}">{{ h }}</option>
		{% endfor %}
	</select>
	<select id="minute" class="col data">
		{% for h in range(0, 60) %}
		<option value="{{ h }}">{{ h }}</option>
		{% endfor %}
	</select>

	<div class="menu">
	{% set button = {'id': "settime", 'title': "Ok"} %}
	{% include 'button.html' %}
	</div>
</div>
{% include 'back.html' %}
