<div class="signal">
  <div class="label">{{ items.get('label1', "(none)") }}</div>
  <div class="led"><div class="{{ design }}" style="width:{{ items.get('signal1', "0") }}00%;"></div></div>
  <div class="label">{{ items.get('label2', "(none)") }}</div>
  <div class="led"><div class="{{ design }}" style="width:{{ items.get('signal2', "0") }}00%;"></div></div>
</div>
<div class="admin click" id="button1">{{ items.get('button1', "(none)") }}</div>
<div class="admin click" id="button2">{{ items.get('button2', "(none)") }}</div>
<div class="signal">
  <div class="label">{{ items.get('label3', "(none)") }}</div>
  <div class="led"><div class="{{ design }}" style="width:{{ items.get('signal3', "0") }}00%;"></div></div>
  <div class="label">{{ items.get('label4', "(none)") }}</div>
  <div class="led"><div class="{{ design }}" style="width:{{ items.get('signal4', "0") }}00%;"></div></div>
</div>
<div class="admin click" id="button3">{{ items.get('button3', "(none)") }}</div>
<div class="admin click" id="button4">{{ items.get('button4', "(none)") }}</div>
<div class="signal">
  <div class="label">{{ items.get('label5', "(none)") }}</div>
  <div class="led"><div class="{{ design }}" style="width:{{ items.get('signal5', "0") }}00%;"></div></div>
</div>
<div class="admin click" id="button5">{{ items.get('button5', "(none)") }}</div>
<div class="admin click" id="button6">{{ items.get('button6', "(none)") }}</div>
<div class="systext signal">
  <p>{{ items.get('temp1', "") }}</p>
  <p>{{ items.get('temp2', "") }}</p>
</div>
