<div class="page">
  <div class="black systext">
    <p id="line1">{{ items.get('line1', "") }}</p>
    <p id="line2">{{ items.get('line2', "") }}</p>
    <p id="line3">{{ items.get('line3', "") }}</p>
    <p id="line4">{{ items.get('line4', "") }}</p>
    <p id="line5">{{ items.get('line5', "") }}</p>
    <p id="line6">{{ items.get('line6', "") }}</p>
    <p id="line7">{{ items.get('line7', "") }}</p>
    <p id="line8">{{ items.get('line8', "") }}</p>
    <p id="line9">{{ items.get('line9', "") }}</p>
    <p id="line10">{{ items.get('line10', "") }}</p>
  </div>
  <div class="gray systext">
    <p id="log">{{ items.get('log', "") }}</p>
  </div>
</div>
