body  {
  font-family: "Lucida Console", Monaco, monospace;
  font-weight: bold;
  background: black;
  color: white;
  margin: 0;
  padding: 0;
  border: 0;
}

div.left {
  width: 50%;
  float: left;
}

div.right {
  width: 50%;
  float: right;
}

div.center {
  width: 50%;
  margin: auto;
  text-align: center;
}

div.black {
  background-color: black;
}

div.gray {
  background-color: #414141;
}

p {
  margin: 0;
  padding: 2% 4% 1% 4%;
  font-size: 225%;
  white-space: nowrap;
}

p.center {
  text-align: center;
}

div.systext p {
  padding: 1% 4% 0% 4%;
}

#log {
  white-space: pre;
}
