@font-face {
    font-family: 'AtlasGrotesk-Light';
    src: url('../fonts/AtlasGrotesk-Light.otf');
}

body  {
  font-family: "AtlasGrotesk-Light";
  font-size: 24px;
  background: black;
  color: white;
}

/*********************
 * Header (top menu) *
 *********************/

.header .button {
	flex-direction: column;
}

.header .button div.frame {
	width: 2em;
    height: 2em;
	align-items: center;
    justify-content: center;
}
.header .button div.frame:hover {
	background-color: orange;
}

.header .button div.image {
	width: 50%;
	height: 50%;
	background-position: center;
    background-repeat: no-repeat;
	background-size: contain;
}

.header #page {
	text-transform: uppercase;
	font-weight: bold;
}

.header .icon {
    height: 1.5em;
    padding-right: 0 !important;
}



/************************************
 * Horizontal menu (like home page) *
 ************************************/
div.menu div.button {
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

div.menu div.button div.frame {
	width: 5em;
	height: 5em;
	border-radius: 0.3em;
	background-color: grey;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	align-items: center;
	justify-content: center;
}
div.menu div.button.yes div.frame {
	background-color: green;
}
div.menu div.button.no div.frame {
	background-color: red;
}
div.menu div.button div.frame:hover {
	background-color: orange !important;
}

div.menu div.button div.image {
	width: 50%;
	height: 50%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	text-align: center;
}

div.menu.small div.button div.image {
	width: 100% !important;
	height: 100% !important;
}

div.menu div.button div.title {
	text-align: center;
	text-transform: capitalize;
	margin: 0.3em;
}

div.menu div.button div.frame.back {
	width: 7em;
	height: 2em;
	background-color: transparent;
}

div.menu div.button div.frame.exposure {
	width: 2em;
	height: 2em;
}

div.menu.small div.button div.frame {
	width: 10em;
	height: 2em;
}


/*********************************
* Listings (like source listing) *
*********************************/

.list-group {

}

.list-group-item {
    background-color: transparent;
    color: white;
    border-bottom: 1px solid white;
}

.list-group-item h1,
.list-group-item span {
    font-weight: bold;
}

.list-group-item-action:hover {
    color: black;
    background-color: white;
}

.list-group-item img {
    padding: 1em;
    border-radius: 0.3em;
    margin-right: 1em;
}

.page-sourceselect .list-group-item img {
    background-color: grey;
}


/*****************************
 * Text with confirm buttons *
 *****************************/
div.confirm {
	display: flex;
	flex-direction: column;
}


/*****************
 * Button images *
 *****************/

/* Generic dummy */
div.menu:not(.small) div.image {
	background-image:url('../img/dummy.svg');
}

/** Generic back */
#back div.frame.back div.image {
	background-image:url('../img/buttons/back_white.svg');	
}

/** Header wifi */
#wifi div.frame div.image {
	background-image:url('../img/buttons/wifi_on_color.svg');
}

/* Confirm dialog */
#cont div.image {
	background-image:url('../img/buttons/yes_color.svg');	
}

#back div.image {
	background-image:url('../img/buttons/no_color.svg');	
}

/* Home */
#print div.image {
	background-image:url('../img/buttons/print_color.svg');
}

#control div.image { 
	background-image:url('../img/buttons/control_color.svg');
}

#settings div.image {
	background-image:url('../img/buttons/settings_color.svg');
}

#turnoff div.image {
	background-image:url('../img/buttons/turn_off_color.svg');
}

/* Control */
#tankres div.image {
	background-image:url('../img/buttons/tank_reset_color.svg');
}

/* Settings */
#network div.image {
	background-image:url('../img/buttons/lan_color.svg');
}

#recalibration div.image {
	background-image:url('../img/buttons/calibration_color.svg');
}

#advancedsettings div.image {
	background-image:url('../img/buttons/settings_color.svg');
}

/* Support */
#sysinfo div.image {
	background-image:url('../img/buttons/system_info_color.svg');
}

#about div.image {
	background-image:url('../img/buttons/about_us_color.svg');
}

/*************
* Page icons *
*************/
div.page .header .icon {
    content:url("../img/dummy.svg");
}

div.page-sourceselect .header .icon {
    content:url("../img/icons/projects_small_white.svg");
}

div.page-printpreview .header .icon,
div.page-printstart .header .icon,
div.page-printhome .header .icon {
    content:url("../img/icons/print_small_white.svg");
}

div.page-settings .header .icon,
div.page-advancedsettings .header .icon,
div.page-admin .header .icon{
    content:url("../img/icons/settings_small_white.svg");
}

div.page-control .header .icon {
    content:url("../img/icons/control_small_white.svg")
}

div.page-network .header .icon {
    content:url("../img/icons/lan_small_white.svg")
}