body  {
  font-family: "Lucida Console", Monaco, monospace;
  margin: 0;
  padding: 0;
  border: 0;
}

.control {
  padding: 10px 16px;
  position: fixed;
  top: 0;
  width: 100%;
  background: lightgray;
}

.red {
  background: red;
  color: white;
}

.green {
  background: lightgreen;
}
