body  {
  font-family: "Lucida Console", Monaco, monospace;
  font-weight: bold;
  background: black;
  color: white;
  margin: 0;
  padding: 0;
  border: 0;
}

#content img {
  display: block;
  width: 98%;
  margin: 0 1% 0 1%;
}

#logo {
  width: 28%;
  float: left;
}

#header div {
  width: 5%;
  float: right;
  margin-left: 2%;
}

hr {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  clear: both;
}

div.left {
  width: 50%;
  float: left;
}

div.right {
  width: 50%;
  float: right;
}

div.center {
  width: 50%;
  margin: auto;
  text-align: center;
}

div.black {
  background-color: black;
}

div.gray {
  background-color: #414141;
}

div.lightgray {
  background-color: #5a5a5a;
}

div.dwarf3 {
  background-color: #bf1e2e !important;
}

div.cworks {
  background-color: #f0531d !important;
}

div.textframe {
  width: 100%;
  padding-bottom: 24.1%;
  position: relative;
}

div.textframe div {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
}

p {
  margin: 0;
  padding: 2% 4% 1% 4%;
  font-size: 225%;
  white-space: nowrap;
}

p.center {
  text-align: center;
}

p.big {
  font-size: 600%;
  font-weight: normal;
  padding: 2% 4% 0% 4%;
}

p.timeexpos {
  position: absolute;
  width: 50%;
  padding: 7% 0 0 0;
  text-align: center;
  color: yellow;

}

div.systext p {
  font-size: 175%;
  padding: 1% 4% 0% 4%;
}

div.print p {
  text-align: center;
  clear: both;
}

#elaps {
  text-align: right;
  font-size: 225%;
  float: left;
  width: 14%;
  padding: 2% 1% 1% 1%;
}

#remain {
  font-size: 225%;
  float: left;
  width: 14%;
  padding: 2% 1% 1% 1%;
}

#progress {
  float: left;
  width: 66%;
  margin: 2% 1% 1% 1%;
  background-color: gray;
}

#bar {
  padding-bottom: 6%;
}

div.admin {
  font-size: 175%;
  text-align: center;
  width: 26.66%;
  float: left;
  background-color: lightgray;
  color: black;
  padding: 3% 2% 3% 2%;
  margin: 2% 0 0 2%;
}

div.signal {
  width: 30%;
  float: left;
  margin: 1% 0 0 2%;
}

div.label {
  font-size: 175%;
  text-align: right;
  width: 70%;
  float: left;
  margin: 4% 2% 2% 2%;
}

div.led {
  width: 10%;
  float: left;
  background-color: gray;
  margin: 4% 2% 1% 2%;
}

div.led div {
  padding-bottom: 100%;
}

div.pattern {
  font-size: 175%;
  text-align: center;
  width: 43%;
  float: left;
  background-color: lightgray;
  color: black;
  padding: 3% 2% 3% 2%;
  margin: 2% 0 0 2%;
}
